@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@layer base {
  :root {
    /* Colors */
    --fashionTextPrimary: #777777;
    --fashionTextSecondary: #fe7799;
    --fashionTextHeading: #141414;
    --fashionBGPrimary: #f5f5f5;
    --fashionBGSecondary: #111114;
    --fashionHeadingFamily: "Playfair Display", serif;
  }

  .fashionHeadingFamily {
    font-family: var(--fashionHeadingFamily);
  }

  .fashionFamily {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--fashionTextPrimary);
    background-color: white;
  }
}

@layer components {
  .fashion-container {
    padding-inline: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 440px;
  }
  /* Travel Home Carousel */

  /* #travel__home_carousel .swiper-pagination-bullet,
  #travel__home_carousel2 .swiper-pagination-bullet,
  #travel__packages_carousel .swiper-pagination-bullet {
    background-color: #ffe27a !important;
    width: 10px !important;
    height: 10px !important;
    opacity: 0.75 !important;
    border-radius: 0 !important;
  }

  #travel__home_carousel .swiper-pagination-bullet-active,
  #travel__home_carousel2 .swiper-pagination-bullet-active,
  #travel__packages_carousel .swiper-pagination-bullet-active {
    background-color: var(--travelTextSecondary) !important;
    width: 10px !important;
    height: 10px !important;
  }

  #travel__home_carousel .swiper-pagination,
  #travel__home_carousel2 .swiper-pagination,
  #travel__packages_carousel .swiper-pagination {
    margin-top: 25px;
    position: relative !important;
    bottom: auto !important;
  } */

  /* Responsive */

  @media (min-width: 640px) {
    .fashion-container {
      max-width: 600px;
    }
  }

  @media (min-width: 768px) {
    .fashion-container {
      max-width: 720px;
    }
  }

  @media (min-width: 1024px) {
    .fashion-container {
      max-width: 960px;
    }
  }

  @media (min-width: 1280px) {
    .fashion-container {
      max-width: 1000px;
    }
  }
}

@layer utilities {
  .fashion__navSticky {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #222222e6;
    transition: 0.5s;
    height: 80px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
}
