@layer base {
  :root {
    /* Colors */
    --travelTextPrimary: #777777;
    --travelTextSecondary: #f8b600;
    --travelTextHeading: #222222;
    --travelBGPrimary: #232323;
    --travelBGSecondary: #313131;
    --travelBGFooter: #04091e;
    --shopBorderPrimary: #dcdbdb;
  }

  .travelFamily {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--travelTextPrimary);
  }
}

@layer components {
  .travel-container {
    padding-inline: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 540px;
  }

  /* Travel Home Carousel */

  #travel__home_carousel .swiper-pagination-bullet,
  #travel__home_carousel2 .swiper-pagination-bullet,
  #travel__packages_carousel .swiper-pagination-bullet {
    background-color: #ffe27a !important;
    width: 10px !important;
    height: 10px !important;
    opacity: 0.75 !important;
    border-radius: 0 !important;
  }

  #travel__home_carousel .swiper-pagination-bullet-active,
  #travel__home_carousel2 .swiper-pagination-bullet-active,
  #travel__packages_carousel .swiper-pagination-bullet-active {
    background-color: var(--travelTextSecondary) !important;
    width: 10px !important;
    height: 10px !important;
  }

  #travel__home_carousel .swiper-pagination,
  #travel__home_carousel2 .swiper-pagination,
  #travel__packages_carousel .swiper-pagination {
    margin-top: 25px;
    position: relative !important;
    bottom: auto !important;
  }

  @media screen and (min-width: 768px) {
    .travel-container {
      max-width: 720px;
    }
  }
  @media screen and (min-width: 1024px) {
    .travel-container {
      max-width: 960px;
    }
  }
  @media screen and (min-width: 1280px) {
    .travel-container {
      max-width: 1140px;
    }
  }
}

@layer utilities {
  .travel__navSticky {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #222222e6;
    transition: 0.5s;
    height: 80px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
}
